name: Hassfest Validation

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  hassfest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Run Hassfest
        uses: home-assistant/actions/hassfest@master
